{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="mb-5" src="{% static 'assets/img/graduation_image.png' %}" width="300" height="250"/>
            <!-- Masthead Heading-->
            <title><h1 class="text-uppercase mb-0">Search your Prefered NIT / IIT / IIIT...</h1></title>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">College Predictor - Best College - Top
                College</p></title>
            <p>Find your college based on your Rank or Percentile</p>
        </div>
    </header>
    <!-- Rank details Section-->
    <section class="page-section" id="college_predictor">
        <div class="container">
            <!-- Contact Section Heading-->
            <h4 class="page-section-heading text-center text-uppercase text-secondary mb-0">Enter Your Exam Details</h4>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">


                <div class="col-lg-6">
                    <h3 class="text-decoration-underline"><header>Disclaimer</header></h3><br/>
                    <ul>
                        <li>This website is intended to predict all possible colleges based on preferences filled by
                            candidates for year 2021 with some rank margin on Opening and Closing ranks
                        </li><br/>
                        <li>Every year, seats are added to every branch
                        </li>
                        <br/>
                        <li>Kindly use best of your percentile. Fill fields atmost of your choices
                        </li>
                        <br/>
                        <li>Abbrevations included in JoSAA list for quota:
                            <ul>
                                <li>OS: Open State</li>
                                <li>HS: Home State</li>
                                <li>AI: All India</li>
                                <li>LA: Territory of Ladakh</li>
                                <li>GO: Goa</li>
                            </ul>
                        </li>
                        <br/>
                        <li>A total number of 8,72,432 candidates were registered and only total of 769589 Students
                            Appeared For Jee Mains 2022 phase-1 examination
                        </li>
                        <br/>
                        <li>A total number of 2,57,533 female candidates were registered and out of which 2,21,719
                            female candidates Appeared For Jee Mains 2022 phase-1 examination
                        </li>
                        <br/>
                    </ul>

                    <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-7728305301915307">
</amp-auto-ads>

                </div>


                <div class="col-lg-6">
                    <div class="form-group">
                        <form method="post" action="#list_college">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                        {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <br/>
                            {% endfor %}
                            <button class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- List Section-->
    <section class="page-section bg-primary text-white mb-0" id="list_college">
        <div class="container">
            <!-- List Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">College List</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p class="font-monospace">For official list kindly visit:- <strong><a
                    href="https://josaa.admissions.nic.in/Counseling/seatallotmentresult/currentorcr.aspx"
                    target="_blank" class="text-light">JoSAA</a></strong></p>
            <p class="masthead-subheading font-weight-light ">College Opening and Closing Rank based on JEE 2021</p>
            <strong><p class="text-black" align="right">Calculated rank: {{ rank }}</p></strong>
            <!-- List Section Content-->
            <div class="row">
                <ul class="list-group">
                    {% if ls_total %}
                        {% for coll_type, l in ls_total.items %}
                            <br/>

                            <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-7728305301915307">
</amp-auto-ads>
                            <h3 class="text-center alert-dark">{{ coll_type }}</h3>
                            <hr class="rounded">
                            {% for ls in l %}
                                {% for ele, val in ls.items %}
                                    <li class="list-group-item">{{ ele }}</li>

                                    <div class="container overflow-scroll">

                                    <table class="table-bordered" style="overflow-x: scroll" width="100%">
                                        <tr>
                                            <th>Quota</th>
                                            <th>College</th>
                                            <th>Catagory</th>
                                            <th>Gender</th>
                                            <th>O.R.</th>
                                            <th>C.R.</th>
                                        </tr>
                                        {% for v in val %}
                                            <tr>
                                                {% for t in v %}
                                                    <td><small>{{ t }}</small></td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    </div>
                                    <br/>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}

